:root {
    --header-height: 4rem;
    --view-height-no-header: calc(100vh - var(--header-height));
}
  
body {
    overflow-y: overlay;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}
  
body::-webkit-scrollbar, body::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,0);
}
  
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
body::-webkit-scrollbar-track {
    margin-top: var(--header-height);
}